#!/usr/bin/bash

# Name of the SoC.
# This name will be used to source this board specific cfg file.
SOC_NAME=imx93

#############################################
# Used to generate update image.
#############################################
# Updated BSP version. This string will be added to default output file.
UPDATE_BSP_VER="LF_v5.15.71_2.2.0"

# Updated container version. This string will be added to default output file.
UPDATE_CONTAINER_VER="1.0"

# Supported SSL modes are RSA-PKCS-1.5, RSA-PSS and DGST.
SSL_MODE=RSA-PKCS-1.5

# Those images will be copied from slot_update to work directory and generate the update image.
# Format: [<image_name>:<truncate_size>]
# If truncate is not required, use ":" with no size.
UPDATE_IMAGES="
slotb_boot_pt_120M.mirror:120M
core-image-base-imx93evk.ext4:3000M
imx-boot-imx93evk-sd.bin-flash_singleboot:
"

UPDATE_SCRIPTS="
emmc_bootpart.sh
"

# Template file that will be used to generate a sw-description file.
SW_DESCRIPTION_TEMPLATE="${WRK_DIR}/../boards/sw-description-imx93-emmc-dualcopy-image.template"

